.books-section {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.booksGrid {
    display: flex;
    gap: 2em;
}

article {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    margin: 1.5em auto;
}

.bookLink {
  text-decoration: none;
  color: inherit;
  font-weight: lighter  ;
}
