form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

input {
    padding: 1em;
    min-width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 0.5em;
}

button {
    padding: 1em 2em;
    border-radius: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.error {
    background-color: rgba(255, 0, 0, 0.197);
    border-left: 4px solid red;
    border-radius: 5px;
    padding: 0.8em;
}