.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logoutButton {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5em 1.4em;
    border-radius: 20px;
    cursor: pointer;
}
