header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

li {
    text-decoration: none;
}

.logoutButton {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.5em 1.4em;
    border-radius: 20px;
    cursor: pointer;
}