:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}